.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100px;
  margin: 15px;
  padding: 20px;
  background-color: lightgray;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift input {
  margin-right: 5px;
}
.subtotal button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #e88734 #9c7e31 #846a29;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  color: black;
}

@media only screen and (max-width: 600px) {
  .subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 100px;
    padding: 20px;
    background-color: lightgray;
    border: 1px solid #dddddd;
    border-radius: 3px;
  }
}
